@model IEnumerable<FaceBookAPI.Models.FaceBook.UserPost>
@{
    Layout = null;
}

    <div>


        <div>
            @foreach (var item in Model)
    {
            <div class="w3-container w3-card w3-white w3-round w3-margin">
                <br>
                @if (item.user.profile_image != null)
    {
            <img src="@(string.Format("data:image/jpeg;base64,{0}",Convert.ToBase64String(item.user.profile_image)))" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px">

}
                @if (item.user.profile_image == null)
    {
            <p class="w3-center"><img src="~/DefaultPic/user-profile.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
}
            @*<span class="w3-right w3-opacity">1 min</span>*@
                <h4>@Html.DisplayFor(ww => item.user.user_name)</h4><br>
                <hr class="w3-clear">
                <p>@Html.DisplayFor(ww => item.post.content)</p>
                <div class="w3-row-padding" style="margin:0 -16px">
                    @*<div class="w3-half">
                <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
                <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
            </div>*@
                </div>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
            </div>

}
        </div>
    </div>
@*</body>
</html>*@

